//Re-maps the bootstrap default theme customizing its components
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here



// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";

//add animation
@media only screen and  (max-width: map-get($grid-breakpoints, md)){
  .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1.5rem);
    -webkit-opacity: 0;
  }
}

.slide-in {
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
}


// 4. Include any default map overrides here
[data-bs-theme="journal"] {
  
  //define some of the themes primary colours
  $mob: #9b2222;      //primary
  $katya: #f0cb18;    //secondary
  $journal: #dab06d;  //journal
  $eggshell: #416472;
  $mocha: #4e392ffc;
  $space: #0d1117;
  $wisp: #30363d;

  $mob-100: tint-color($mob, 80%);
  $mob-200: tint-color($mob, 60%);
  $mob-300: tint-color($mob, 40%);
  $mob-400: tint-color($mob, 20%);
  $mob-500: $mob;
  $mob-600: shade-color($mob, 20%);
  $mob-700: shade-color($mob, 40%);
  $mob-800: shade-color($mob, 60%);
  $mob-900: shade-color($mob, 80%);

  $katya-100: tint-color($katya, 80%);
  $katya-200: tint-color($katya, 60%);
  $katya-300: tint-color($katya, 40%);
  $katya-400: tint-color($katya, 20%);
  $katya-500: $katya;
  $katya-600: shade-color($katya, 20%);
  $katya-700: shade-color($katya, 40%);
  $katya-800: shade-color($katya, 60%);
  $katya-900: shade-color($katya, 80%);

  $journal-100: tint-color($journal, 80%);
  $journal-200: tint-color($journal, 60%);
  $journal-300: tint-color($journal, 40%);
  $journal-400: tint-color($journal, 20%);
  $journal-500: $journal;
  $journal-600: shade-color($journal, 20%);
  $journal-700: shade-color($journal, 40%);
  $journal-800: shade-color($journal, 60%);
  $journal-900: shade-color($journal, 80%);

  $eggshell-100: tint-color($eggshell, 80%);
  $eggshell-200: tint-color($eggshell, 60%);
  $eggshell-300: tint-color($eggshell, 40%);
  $eggshell-400: tint-color($eggshell, 20%);
  $eggshell-500: $eggshell;
  $eggshell-600: shade-color($eggshell, 20%);
  $eggshell-700: shade-color($eggshell, 40%);
  $eggshell-800: shade-color($eggshell, 60%);
  $eggshell-900: shade-color($eggshell, 80%);

  $mocha-100: tint-color($mocha, 80%);
  $mocha-200: tint-color($mocha, 60%);
  $mocha-300: tint-color($mocha, 40%);
  $mocha-400: tint-color($mocha, 20%);
  $mocha-500: $mocha;
  $mocha-600: shade-color($mocha, 20%);
  $mocha-700: shade-color($mocha, 40%);
  $mocha-800: shade-color($mocha, 60%);
  $mocha-900: shade-color($mocha, 80%);

  $space-100: tint-color($space, 80%);
  $space-200: tint-color($space, 60%);
  $space-300: tint-color($space, 40%);
  $space-400: tint-color($space, 20%);
  $space-500: $space;
  $space-600: shade-color($space, 20%);
  $space-700: shade-color($space, 40%);
  $space-800: shade-color($space, 60%);
  $space-900: shade-color($space, 80%);

  $wisp-100: tint-color($wisp, 80%);
  $wisp-200: tint-color($wisp, 60%);
  $wisp-300: tint-color($wisp, 40%);
  $wisp-400: tint-color($wisp, 20%);
  $wisp-500: $wisp;
  $wisp-600: shade-color($wisp, 20%);
  $wisp-700: shade-color($wisp, 40%);
  $wisp-800: shade-color($wisp, 60%);
  $wisp-900: shade-color($wisp, 80%);

  --bs-body-color: #{$mocha-500};
  --bs-body-color-rgb: #{to-rgb($mocha-500)};
  --bs-body-bg: #{$journal-100};
  --bs-body-bg-rgb: #{to-rgb($journal-100)};
  --bg-image-top: url("../../public/banner-image-1080.webp");
  --bg-image-bottom: url("../../public/around-the-campfire.webp");
  --bg-image-content: url("https://www.worldanvil.com/uploads/images/9a85062935f039ee4f87624f4177cbce.png");
  --nav-shadow: transparent;
  --toggler-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 0.9%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --primary-100: #{$mob-100};
  --primary-200: #{$mob-200};
  --primary-300: #{$mob-300};
  --primary-400: #{$mob-400};
  --primary-500: #{$mob-500};
  --primary-600: #{$mob-600};
  --primary-700: #{$mob-700};
  --primary-800: #{$mob-800};
  --primary-900: #{$mob-900};
 
  --secondary-100: #{$katya-100};
  --secondary-200: #{$katya-200};
  --secondary-300: #{$katya-300};
  --secondary-400: #{$katya-400};
  --secondary-500: #{$katya-500};
  --secondary-600: #{$katya-600};
  --secondary-700: #{$katya-700};
  --secondary-800: #{$katya-800};
  --secondary-900: #{$katya-900};
  
  --tertiary-100:#{$mocha-100};
  --tertiary-200:#{$mocha-200};
  --tertiary-300:#{$mocha-300};
  --tertiary-400:#{$mocha-400};
  --tertiary-500:#{$mocha-500};
  --tertiary-600:#{$mocha-600};
  --tertiary-700:#{$mocha-700};
  --tertiary-800:#{$mocha-800};
  --tertiary-900:#{$mocha-900};

  --shade-100:#{$eggshell-100};
  --shade-200:#{$eggshell-200};
  --shade-300:#{$eggshell-300};
  --shade-400:#{$eggshell-400};
  --shade-500:#{$eggshell-500};
  --shade-600:#{$eggshell-600};
  --shade-700:#{$eggshell-700};
  --shade-800:#{$eggshell-800};
  --shade-900:#{$eggshell-900};

  --bg-light-100:#{$journal-100};
  --bg-light-200:#{$journal-200};
  --bg-light-300:#{$journal-300};
  --bg-light-400:#{$journal-400};
  --bg-light-500:#{$journal-500};
  --bg-light-600:#{$journal-600};
  --bg-light-700:#{$journal-700};
  --bg-light-800:#{$journal-800};
  --bg-light-900:#{$journal-900};

  --bg-dark-100:#{$space-100};
  --bg-dark-200:#{$space-200};
  --bg-dark-300:#{$space-300};
  --bg-dark-400:#{$space-400};
  --bg-dark-500:#{$space-500};
  --bg-dark-600:#{$space-600};
  --bg-dark-700:#{$space-700};
  --bg-dark-800:#{$space-800};
  --bg-dark-900:#{$space-900};

  --border-100:#{$wisp-100};
  --border-200:#{$wisp-200};
  --border-300:#{$wisp-300};
  --border-400:#{$wisp-400};
  --border-500:#{$wisp-500};
  --border-600:#{$wisp-600};
  --border-700:#{$wisp-700};
  --border-800:#{$wisp-800};
  --border-900:#{$wisp-900};


  //Container
  .container {
    --bs-gutter-x: 3.5rem;
  }
  /// NAVBAR THEME
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: white;
    --bs-navbar-hover-color: #{$katya};
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.3);
    --bs-navbar-active-color: rgba(255, 255, 255, 0.9);
    --bs-navbar-nav-link-padding-x: 1.1em;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: var(--toggler-bg-image);
    --bs-navbar-toggler-border-color: #FFF;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.15rem;
    --bs-navbar-toggler-transition: box-shadow 0.5s ease-in-out;
  }

  .navbar-nav {
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-padding-y: 1em;
  }

  .breadcrumb {
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-item-active-color: #6c757d;
  }

  h1 {
    color: var(--primary-600);
  }

  .app {
    color: var(--tertiary-500);
    background-color: black;
  }

  .journal-page {
    background-color: #ddc9a863;
    background-image: var(--bg-image-content);
    box-shadow: inset 0 0 0 1000px #ddc9a863;
    padding-bottom: 1.5rem;
  }

  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: white;
    --bs-btn-bg: var(--primary-600);
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--primary-600);
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    --bs-btn-hover-bg: var(--primary-800);
    --bs-btn-hover-color: var(--bs-btn-color);
  }

  .btn-nav{
    width: 6em;
  }

  .btn i {
    text-align: center;
    font-size: 2em;
  }

}

@import "~bootstrap/scss/bootstrap";