
.intro p {
    margin-bottom: 0.3em;
}

.intro h1::after{
    content: "";
    padding-top: 0.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--tertiary-500);
}

.intro div.story-emphasis {
    margin-top: 1.3em;
}
.intro div.story-emphasis em {
    font-size: 1.3em;
}
.journal-link {
    text-align: start;
    font-size: 1em;
    text-decoration: none;
    color: var(--primary-500);
}

.journal-link:hover{
    text-decoration: underline;
    color: var(--primary-700);
}

.journal-quote:before{
    content: open-quote;
}

.journal-quote:after{
    content: close-quote;
}

.journal-quote:before,
.journal-quote:after{
    display: inline-block;
    vertical-align: bottom;
    color: inherit;
    font-size: 1.2em;
    top: .2em;
    position: relative;
}