
.intro p {
    margin-bottom: 0.3em;
}

.intro h1::after{
    content: "";
    padding-top: 0.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--tertiary-500);
}

.intro div.story-emphasis {
    margin-top: 1.3em;
}
.intro div.story-emphasis em {
    font-size: 1.3em;
}
.journal-link {
    text-align: start;
    font-size: 1em;
}