.entry-document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.5em;
    overflow: hidden;
    text-align: center;
    font-size: 35px;
    margin: 0.4em;
    color: var(--tertiary-600);
}

.entry-document:hover {
    color: var(--primary-500);
}

.entry-document p {
    font-size: 16px;
    margin: 0;
}