.entry-document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4.5em;
    overflow: hidden;
    text-align: center;
    color: var(--tertiary-600);
}

.entry-document:hover {
    color: var(--primary-500);
}

.entry-document p {
    font-size: 0.5em;
    margin: 0;
}