 /// FOOTER THEME
 footer .navbar {
    background-color: transparent;
  }

  .footer-theme {
    position: relative;
    bottom:0;
    left: 0;
    right: 0;
    height: 100vh;
    min-height: 100vh;
    font-size: 1.2rem;
    text-align: center;
  }

  .footer-theme img {
    inset: 0;
    position: relative;
    z-index: 10;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 100%;
  }

  .footer-theme::after {
    position: absolute;
    z-index: 20;
    inset: 0;
    height: 15%;
    background-image: linear-gradient(black, transparent);
    content: ""
  }

  .footer-theme footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }

  .footer-theme p {
      margin: 0;
      color: #FFFFFF;
  }