#journal-entry {
    text-align: justify;
}

#journal-entry h1::after {
    content: "";
    padding-top: 0.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--tertiary-500);
}