.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://www.worldanvil.com/uploads/images/9a85062935f039ee4f87624f4177cbce.png");
}

main {
  display: flex;
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

main div.container{
  background-color: #ddc9a863;
  box-shadow: 0 -1px 15px 5px rgba(0,0,0,.2);
  flex-grow: 1;
  margin-bottom: 5rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
