/*styles the following elements/classes
  .app
  main
  containers where the style is constant across the whole app
*/

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

main {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main .container {
  z-index: 1;
}

header {
  position: absolute;
  right: 0;
  left: 0;
}

.journal-page{
  flex-grow: 1;
  margin-bottom: 870px;
  min-height: 200px;
  border-radius: 20px;
}
